<!-- <div class="ui top attached menu topmenu">

  <div class="menu stretch">
    <div class="ui aligned item stretch">
      <div class="ui transparent icon input stretch">
        <div class="ui five item menu stretch nopadding">
          <a class="active item">Gesamt</a>
          <a class="item">Wahlkreis</a>
          <a class="item">Provinz</a>
          <a class="item">Bezirk</a>
          <a class="item">Gemeinde</a>
        </div>
      </div>
      <div class="results"></div>
    </div>
  </div>

  <div class="right menu">
    <div class="ui right aligned category search item">
      <div class="ui transparent icon input">
        <input class="prompt" placeholder="Search animals..." type="text">
        <i class="search link icon"></i>
      </div>
      <div class="results"></div>
    </div>
  </div>

</div>
<div class="ui bottom attached segment">
  <p></p>
</div> -->

<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="active item">Home</a>
    <a class="item">Gesamt</a>
    <a class="item">Wahlkreis</a>
    <a class="item">Bundesland</a>
    <a class="item">Bezirk</a>
    <a class="item">Gemeinde</a>
    <div class="right menu">
      <div class="item">
        <a class="ui button"><i class="wrench icon"></i>User</a>
      </div>
    <div class="ui right aligned category search item">
      <div class="ui transparent icon input">
        <input class="prompt" placeholder="Suche..." type="text">
        <i class="search link icon"></i>
      </div>
      <div class="results"></div>
    </div>
  </div>
</div>